<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="raporkuAPP.Properties.Settings.raporkuConnectionString"
            connectionString="Data Source=raporkita.database.windows.net;Initial Catalog=raporku;User ID=thoriq"
            providerName="System.Data.SqlClient" />
        <add name="raporkuAPP.Properties.Settings.raporkuConnectionString1"
            connectionString="Data Source=tcp:raporkita.database.windows.net,1433;Initial Catalog=raporku;User ID=thoriq;Password=Thor@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>